@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
}
.backgr {
  background-image: url("background68.png");
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
.main_name {
  color: white;
  height: 100vh;
  width: 100%;
  font-size: 4.1vw;
  text-align: center;
  font-family: "Tektur", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.ertyu {
  height: 55vh;
}
.ww2 {
  font-weight: 700;
}
.arrows img {
  width: 3.5%;
}
.main_name .arrows a {
  color: white;
  font-size: 4vw;
  font-family: "Tektur", sans-serif;
  font-weight: 400;
  text-decoration: none;
}
/* Начало выбора годов */
.years a {
  color: white;
  font-size: 7.8vw;
  font-family: "Tektur", sans-serif;
  font-weight: 700;
  text-decoration: none;
}
.years {
  display: flex;
  flex-direction: column;
}
.y1939 {
  width: 32.03125%;
  margin: 0 auto;
  text-align: center;
  line-height: 3.2vw;
  padding: 0.6vw;
}
.y1939 img {
  width: 100%;
}
/* Конец выбора годов */
/* Начало 1939 года */
.bg1939 {
  height: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg1939 img {
  height: 100vh;
  width: 100%;
}
/* Конец 1939 года */
/* Начало 1940 года */

/* т 40 */

/* т 34 */

/* кв 1 */

/* кв 2 */

/*Конец 1940 года*/
/*Начало 1941 года*/
#bg1941 {
  height: auto;
  padding-bottom: 2vw;
}
/* т 50 */
#imgt50 {
  width: 90%;
}
/* т 60 */
#imgt60 {
  width: 90%;
}
/* т 70 */
#t70menu {
  margin: 2vw auto;
}
#imgt70 {
  width: 90%;
}
/*Конец 1941 года*/
/*Начало 1942 года*/
/* кв 1 с*/
/* ис 1 */
/*Конец 1942 года*/
/*Начало 1943 года*/
/* т 80 */
.imgt80 {
  width: 90%;
}
/* ис 2 */
.imgis2 {
  width: 90%;
  margin-left: 3vw;
}
/*Конец 1943 года*/
/*Начало 1944 года*/
.bg1944 {
  background-image: url("background58.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.hjkl {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* т 34 85 */
.imgt3485 {
  width: 90%;
}
#yyyy {
  width: fit-content;
}
/* т 44 */
.imgt44 {
  width: 90%;
}
/*Конец 1944 года*/
/*Начало 1945 года*/
.bg1945 {
  background-image: url("background58.png");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.main1945 {
  color: white;
  font-size: 8vw;
  text-align: center;
  font-family: "Tektur", sans-serif;
  font-weight: 700;
  margin-bottom: 1.5vw;
}
.main1945 img {
  width: 7%;
}
.menu1945 {
  width: 36%;
  color: white;
  font-size: 3.7vw;
  text-align: center;
  font-family: "Tektur", sans-serif;
  border: solid white 0.2vw;
  border-radius: 2.5vw;
  line-height: 4.5vw;
  margin: 1.5vw;
  padding: 0.5vw;
}
.menu1945 .is3a {
  width: 120%;
  margin-top: -11vh;
  margin-left: -3vh;
}
.menu1945 .arrs {
  width: 9%;
}
.menu1945 a {
  font-size: 4.6vw;
  color: white;
  text-decoration: none;
}
#is3menu {
  margin: 0 auto;
}
/* ис 3 */
.container {
  background-image: url("background58.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.container li {
  color: white;
  font-family: "Tektur", sans-serif;
}
.container p {
  color: white;
  font-family: "Tektur", sans-serif;
  text-align: center;
  font-size: 1.2vw;
}
.maincall {
  color: white;
  font-family: "Tektur", sans-serif;
  text-align: center;
  font-size: 7vw;
  text-decoration: underline;
  font-weight: 700;
  width: fit-content;
}
.maincall #icon2 {
  transform: scale(-1, 1);
}
.maincall img {
  width: 16vw;
}
.maincontent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gray {
  width: 42%;
  margin-left: 2vw;
}
.gray img {
  width: 100%;
}
.gray2 {
  width: 35%;
  padding: 0.8vw;
  background-image: url("background78.png");
  border: solid white 0.2vw;
  border-radius: 2.5vw;
}
.gray2 ul {
  text-align: center;
  list-style: none;
  line-height: 2.3vw;
  font-size: 1.5vw;
}
.gray2 ul .weapons {
  font-size: 2.2vw;
  font-weight: 700;
  list-style: none;
}
.gray2 img {
  width: 100%;
}
.gray2 ul .cvbn {
  width: 5%;
}
.gray3 {
  width: 80%;
  background-image: url("background78.png");
  border: solid white 0.2vw;
  border-radius: 3vw;
  margin: 2vw;
}
.gray3 p {
  margin: 1vw;
}
.phch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1vw;
}
.llink:hover {
  text-decoration: underline;
}
/*Конец 1945 года*/
